<footer>
  <section class="top">
    <div class="container">
      <div class="row">
        <div class="logo col-md-6 col-sm-12">
          <app-micro-logo></app-micro-logo>
        </div>
        <div class="links col-md-6 col-sm-12">
          <ul>
            <li><a href="/"><span>Accueil</span></a></li>
            <li><a href="#"><span>Listes des quizz</span></a></li>
            <li class="separator"></li>
            <li><a routerLink="create"><span>Espace administrateur</span></a></li>
            <li><a href="#"><span>À propos</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="copyright">
    <div class="container">
      © PolyQuizz {{currentDate | date:'yyyy'}} - Créé par les Avyzeurs
    </div>
  </section>
</footer>
