<footer>

</footer>


<footer>
  <section class="top">
    <div class="container">
      <div class="row">
        <div class="third col-md-4 col-sm-12">
          <app-micro-logo></app-micro-logo>
        </div>
        <div class="third col-md-4 col-sm-12">
          <h1><span>Informations</span></h1>
          <p>
            Projet PS6 PolyQuiz<br>
            Campus SophiaTech,
            930 route des Colles, BP 145,
            06903 Sophia Antipolis
          </p>
        </div>
        <div class="third col-md-4 col-sm-12">
          <h1><span>Pages importantes</span></h1>
          <ul>
            <li><a href="#"><span>Accueil</span></a></li>
            <li><a href="#"><span>Listes des quizz</span></a></li>
            <li><a href="#"><span>à propos</span></a></li>
            <li><a href="#"><span>Conditions d'utilisations</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <footer-copyright></footer-copyright>
</footer>
