<div class="center">
  <div *ngIf="parameter.type == 'PARKINSON_MOVEMENT_DETECTOR' && parameter.isEnabled" class="flex h-center">
    <h4>Détection de mouvement brusque <b>(suivi de parkinson)</b></h4>
    <div *ngIf="parameter.value == 0;then activate else deactivate"></div>
    <ng-template #activate>
      <button (click)="updateValue(1)" class="btn-polyquizz font-size-16 col-8">Cliquez pour activer</button>
    </ng-template>
    <ng-template #deactivate>
      <button (click)="updateValue(0)" class="btn-polyquizz font-size-16 red col-8">Cliquez pour désactiver</button>
    </ng-template>
  </div>

  <div *ngIf="parameter.type == 'PARKINSON_BOX_SPACING' && parameter.isEnabled" class="flex h-center">
    <h4>Augmentation de l’espacement général entre les éléments</h4>
    <button class="btn-polyquizz ud font-size-16 col-8"><i class="fa fa-angle-left" (click)="down()"></i>{{this.getBoxSpacingArray()[parameter.value]}}<i class="fa fa-angle-right" (click)="up()"></i></button>
  </div>

  <div *ngIf="parameter.type == 'PARKINSON_BOX_SIZING' && parameter.isEnabled" class="flex h-center">
    <h4>Augmentation de la taille général des éléments</h4>
    <button class="btn-polyquizz ud font-size-16 col-8"><i class="fa fa-angle-left" (click)="down()"></i>{{this.getBoxSizingArray()[parameter.value]}}<i class="fa fa-angle-right" (click)="up()"></i></button>
  </div>

  <div *ngIf="parameter.type == 'VISION_SCALE' && parameter.isEnabled"  class="flex h-center">
    <h4>Augmentation de la taille général du texte</h4>
    <button class="btn-polyquizz ud font-size-{{parameter.value}} col-8"><i class="fa fa-angle-left" (click)="down()"></i>{{this.getVisionScaleArray()[parameter.value]}}<i class="fa fa-angle-right" (click)="up()"></i></button>
  </div>
</div>



