<div class="profile-header">
  <div *ngIf="hasProp(profile, 'image'); then profileImage else defaultImage"></div>
  <ng-template #profileImage>
    <div class="image" style="background-image: url({{ profile.image }})"></div>
  </ng-template>
  <ng-template #defaultImage>
    <div class="image" style="background-image: url('assets/images/default.png')"></div>
  </ng-template>
  <div class="flex v-spacing info">
    <div class="col-12">
      <div class="flex">
        <div class="col-12 name">
          {{ profile.name }}
        </div>
        <div class="col-12 firstname">
          {{ profile.firstname }}
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="flex v-center h-spacing">
        <a (click)="logout()" routerLink="/">Cliquez ici si vous voulez changer de profil</a>
        <div *ngIf="onQuizzes">
          <a routerLink="/profile/{{ profile.id }}" class="btn-polyquizz small">Cliquez ici pour revenir à votre profil</a>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
