<section class="copyright">
  <div class="container">
    <div class="half">
      <p>
        © {{currentDate | date:'yyyy'}} - Tous droits réservés
      </p>
    </div>
    <div class="half">
      <a class="pq-edul" href="https://univ-cotedazur.eu/" target="_blank">
        <img alt="UCA" src="assets/images/uca.svg">
      </a>
      <a class="pq-edul" href="https://polytech.univ-cotedazur.fr/" target="_blank">
        <img alt="Polytech" src="assets/images/polytech_uca.svg">
      </a>
    </div>
  </div>
</section>
