$text: #1E1E23
$background-1: #f7fafa
$background-2: grayscale(darken($background-1, 5))

$light: #ecf1f1
$main: #334490
$red: #D72D2D
$green: #58C503

$shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
$default-transition: all ease 0.15s

$transition-time: 0.15s

$letter-spacing: 0.05

$montserrat: 'Montserrat', sans-serif
$raleway: 'Raleway', sans-serif
$redhatdisplay: 'Red Hat Display', sans-serif

$large: 1200px
$medium: 992px
$small: 767px

$breakpoints: ('small': (max-width: 991px), 'medium': (max-width: 1199px), 'large': (min-width: $large)) !default

@function spacing($font-size)
  @return $letter-spacing * $font-size + rem
