@import "grid/grid"
@import "visibility/visibility"

@import "_variables"

@mixin respond-to($breakpoint)
  @if map-has-key($breakpoints, $breakpoint)
    @media #{inspect(map-get($breakpoints, $breakpoint))}
      @content
  @else
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. Available breakpoints are: #{map-keys($breakpoints)}."

body
  margin: 0

.my-4
  margin-top: 4rem !important
  margin-bottom: 4rem !important

.my-2
  margin-top: 2rem !important
  margin-bottom: 2rem !important

.center
  text-align: center

.panel
  background: $background-2
  padding: 1rem
  border-radius: 2rem

  .panel-head
    text-align: center

h1
  font-size: 2rem
  font-family: $redhatdisplay
  font-weight: normal
  margin-top: 0

h2
  font-size: 1.75rem
  font-family: $redhatdisplay
  font-weight: normal
  margin-top: 0

h3
  font-size: 1.5rem
  font-family: $redhatdisplay
  font-weight: normal
  margin-top: 0


.p-0
  padding: 0!important

h2.question
  display: flex
  justify-content: center

  .btn-polyquizz
    margin-left: 1rem

hr
  background: $text
  width: 100%
  height: 1px
  border: 0
  border-radius: 1px

.input-group
  input
    margin-bottom: .5rem

input[type=text], input[type=password]
  width: 100%
  padding: 12px
  font-size: 16px
  border-radius: 0.5rem
  background: transparent
  border: 2px solid transparentize($text, 0.5)
  transition: all ease 0.1s
  color: $text
  font-family: $redhatdisplay

  &:hover, &:focus
    border: 2px solid $text

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked
  width: 1rem
  height: 1rem
  background: rgba(0, 0, 0, 0.25)
  border: 0

.flex
  display: flex

  &.jc
    justify-content: center

.btn-polyquizz
  padding: 14px
  font-size: 20px
  background: $main
  color: $background-1
  border-radius: 12px
  font-weight: normal
  outline: none
  border: 3px solid $main
  transition: all ease 0.1s
  font-family: $redhatdisplay
  cursor: pointer
  user-select: none
  display: inline-block

  &.block
    display: block
    text-align: center

  &.red
    background: $red
    border-color: $red

  &:hover
    background: transparent
    color: $text

  &.lp
    padding: 7px

  &.small
    font-size: 14px

  &.sp
    padding: 8px 24px

.answer
  background: rgba(0, 0, 0, 0.1)
  border-radius: 12px
  padding: 0 !important

.container
  width: 100%
  margin: 0 auto
  @include respond-to('large')
    max-width: $large
    padding: 0 $large/20
  @include respond-to('medium')
    max-width: $medium
    padding: 0 $medium/25
  @include respond-to('small')
    max-width: $small
    padding: 0 $small/30

a
  text-decoration: none

.modal
  display: none
  &.opened
    display: block
  overflow: hidden
  width: 100vw
  height: 100vh
  background: rgba(0, 0, 0, 0.25)
  z-index: 1
  position: absolute
  top: 0
  left: 0
  transition: ass ease 0.1s
  .popup
    background: $background-1
    box-shadow: $shadow
    padding: 12px
    margin: 10% auto
    width: 100%
    border-radius: 12px
    display: flex
    flex-direction: column
    align-items: center
    @include respond-to('large')
      max-width: $large
    @include respond-to('medium')
      max-width: $medium
    @include respond-to('small')
      max-width: $small
    &.small
      max-width: $small
      .close-box
        display: flex
        width: 100%
        flex-direction: row-reverse
        .close
          font-size: 24px
      .actions
        display: flex



