<div class="panel darker mt-1">
  <div class="panel-head">
    <h3>Réponse {{this.id + 1}}</h3>
  </div>
  <div class="col-12 mb-1">
    <label>
      Type de réponse
      <select [(ngModel)]="this.answer.type">
        <option value="1" selected>Réponse textuelle</option>
        <option value="2">Réponse image</option>
      </select>
    </label>
  </div>
  <div class="col-12 mb-1">
    <input placeholder="Text ou lien de l'image" required type="text" value="{{answer.label}}" [(ngModel)]="this.answer.label">
  </div>
  <div class="col-12">
    <label>
      <input type="checkbox" [checked]="answer.correctAnswer" [(ngModel)]="this.answer.correctAnswer">
      Bonne réponse
    </label>
  </div>

</div>
