<div class="flex h-center question">
  <div class="col-12 center"><h2>Question {{ currentQuestion }}/{{ numberOfQuestion }}</h2></div>
  <div class="flex">
    <div class="col-6" *ngIf="hasProp(question, 'image')">
      <div id="hover-zoom" class="image" style="background-image: url({{ question.image }})"></div>
    </div>
    <div class="col-6 center">
      <h3 class="{{getClass('VISION_SCALE')}}">{{ question.question }}</h3>
      <div class="flex h-center">
        <div *ngFor="let answer of question.answers" class="{{getClass('PARKINSON_BOX_SIZING')}} col-12">
        <span id="answer_{{answer.id}}" class="answer {{getClass('PARKINSON_BOX_SPACING')}} p-{{getParameter('PARKINSON_BOX_SIZING').value}} {{getClass('VISION_SCALE')}}" (click)='selectAnswer(answer.id)'>
          {{ answer.label }}
        </span>
        </div>
      </div>
    </div>
  </div>
</div>
