<div *ngIf="quiz && quiz != undefined;then quizExist else quizNotExist"></div>
<ng-template #quizExist>
  <div *ngIf="quiz.questions.length>0;then quizHasQuestion else quizHasntQuestion"></div>
  <ng-template #quizHasQuestion>
    <div class="quiz-play">
      <h1>{{ quiz.name }}</h1>
      <div class="quiz-image" style="background-image: url('{{ quiz.image }}')"></div>
      <hr>
      <div class="col-md-12">
        <app-quiz-question
          [currentQuestion]="currentQuestion + 1"
          [numberOfQuestion]="quiz.questions.length"
          [question]="quiz.questions[currentQuestion]">
        </app-quiz-question>
      </div>
      <hr>
<!--
<div *ngIf="currentQuestion + 1 < quiz.questions.length;then nextQuestion else endQuiz"></div>
<ng-template #nextQuestion>
  <a (click)="goToNextQuestion()" class="btn-polyquizz sp">Oui1</a>
</ng-template>
<ng-template #endQuiz>
  <a (click)="saveQuizResult()" routerLink="/quiz-result/1" class="btn-polyquizz sp">Oui2</a>
</ng-template>
-->

<!-- #####################################################################################" -->
      <div [ngClass]="suddenPopupNext ? 'opened' : 'closed'" class="modal" id="suddenPopupNext">
        <div class="popup small">
          <div class="close-box"><span (click)="closeModal('suddenPopupNext')" class="close"><i
            class="fas fa-times"></i></span>
          </div>
          <h3>Êtes vous sûr de votre réponse ?</h3>

          <br>
          <h4>Appuyez sur Entrée pour valider ou sur A pour annuler</h4>

          <div class="flex">
            <div class="col-6">
              <a (click)="goToNextQuestion()" class="btn-polyquizz red block">Oui</a>
            </div>
            <div class="col-6">
              <a (click)="closeModal('suddenPopupNext')" class="btn-polyquizz block" href="javascript:void(0)">Non</a>
            </div>
          </div>
        </div>
      </div>
<!-- #####################################################################################" -->
      <div [ngClass]="suddenPopupEnd ? 'opened' : 'closed'" class="modal" id="suddenPopupEnd">
        <div class="popup small">
          <div class="close-box"><span (click)="closeModal('suddenPopupEnd')" class="close"><i
            class="fas fa-times"></i></span>
          </div>
          <h3>Êtes vous sûr de votre réponse ?</h3>

          <br>
          <h4>Appuyez sur Entrée pour valider ou sur A pour annuler</h4>

          <div class="flex">
            <div class="col-6">
              <a (click)="saveQuizResult()" routerLink="/quiz-result/1" class="btn-polyquizz red block">Oui</a>
            </div>
            <div class="col-6">
              <a (click)="closeModal('suddenPopupEnd')" class="btn-polyquizz block" href="javascript:void(0)">Non</a>
            </div>
          </div>
        </div>
      </div>
<!-- #####################################################################################"-->
      <div *ngIf="currentQuestion + 1 < quiz.questions.length;then nextQuestion else endQuiz"></div>
      <ng-template #nextQuestion>
        <a (click)="openModal('suddenPopupNext')" class="btn-polyquizz" href="javascript:void(0)">Question suivante</a>
      </ng-template>
      <ng-template #endQuiz>
        <div *ngIf="getParam();then popup else noPopup"></div>
        <ng-template #popup>
          <a (click)="openModal('suddenPopupEnd')" class="btn-polyquizz" href="javascript:void(0)">Afficher les résultats du quiz</a>
        </ng-template>
        <ng-template #noPopup>
          <a (click)="saveQuizResult()" class="btn-polyquizz" routerLink="/quiz-result/1" >Afficher les résultats du quiz</a>
        </ng-template>
      </ng-template>

      <div class="actions">
        <a (click)="openModal('quitQuizPopup')" class="btn-polyquizz small sp" href="javascript:void(0)">Retour à la
          liste des quiz</a>
        <a class="btn-polyquizz small sp" href="javascript:void(0)">Vérifier mes paramètres</a>
      </div>
    </div>


    <div [ngClass]="quitQuizPopup ? 'opened' : 'closed'" class="modal" id="quitQuizPopup">
      <div class="popup small">
        <div class="close-box"><span (click)="closeModal('quitQuizPopup')" class="close"><i
          class="fas fa-times"></i></span>
        </div>
        <h3>Êtes vous sûr de vouloir quitter le quizz ?</h3>
        <div class="flex">
          <div class="col-6">
            <a class="btn-polyquizz red block" routerLink="/quizzes">Oui</a>
          </div>
          <div class="col-6">
            <a (click)="closeModal('quitQuizPopup')" class="btn-polyquizz block" href="javascript:void(0)">Non</a>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #quizHasntQuestion>
    <div class="quiz-error">
      <h1>{{ quiz.name }}</h1>
      <div class="quiz-image" style="background-image: url('{{ quiz.image }}')"></div>
      <div class="error">Erreur</div>
      <p>Le quiz n'est pas disponible, merci de contacter un administrateur.</p>
      <a class="btn-polyquizz" routerLink="/quizzes">Retour à la liste des quiz</a>
    </div>
  </ng-template>
</ng-template>
<ng-template #quizNotExist>
  Erreur, quiz introuvable
</ng-template>
