<div class="profile-header">
  <div class="image" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/a4/Ren%C3%A9_Malleville_Photo.jpg)"></div>
  <div class="flex v-spacing info">
    <div class="col-12">
      <div class="flex">
        <div class="col-12 name">
          Latope
        </div>
        <div class="col-12 firstname">
          René
        </div>
      </div>
    </div>
    <div class="col-12">
      <a routerLink="/">Cliquez ici si vous voulez changer de profil</a>
    </div>
  </div>
</div>
<hr>
