<div class="flex">
  <div *ngIf="quizzesHistory.length > 0; then showHistory; else noHistory"></div>
  <ng-template #showHistory>
    <div class="col-12 center">
      <h2>Derniers quiz effectués</h2>
    </div>
    <div class="col-12">
      <div *ngFor="let profileResult of quizzesHistory | slice:0:5; let i=index"  class="flex">
        <app-profile-history-quiz [quizProfileResult]="profileResult" class="col-12"></app-profile-history-quiz>
      </div>
    </div>
  </ng-template>
  <ng-template #noHistory>
    <div class="col-12">
      <div class="alert info">
        Il n'y a pas d'historique de quiz, vous n'avez pas encore fait de quiz.
      </div>
    </div>
  </ng-template>

</div>
