@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap')

$text: #1E1E23
$background-1: #ecf1f1
$background-2: #d1dddd

$light: #ecf1f1
$main: #334490

$shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)

$montserrat: 'Montserrat', sans-serif
$raleway: 'Raleway', sans-serif
$redhatdisplay: 'Red Hat Display', sans-serif

$large: 1200px
$medium: 992px
$small: 767px

$breakpoints: ('small': (max-width: 991px), 'medium': (max-width: 1199px), 'large': (min-width: $large)) !default

@mixin respond-to($breakpoint)
  @if map-has-key($breakpoints, $breakpoint)
    @media #{inspect(map-get($breakpoints, $breakpoint))}
      @content
  @else
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. Available breakpoints are: #{map-keys($breakpoints)}."

body
  margin: 0

.container
  width: 100%
  margin: 0 auto
  @include respond-to('large')
    max-width: $large
    padding: 0 $large/20
  @include respond-to('medium')
    max-width: $medium
    padding: 0 $medium/25
  @include respond-to('small')
    max-width: $small
    padding: 0 $small/30

a
  text-decoration: none

@import "grid"
@import "visibility"
