<div class="container my-4">
  <div class="panel">
    <div class="panel-head">
      <h1>Connexion</h1>
    </div>
    <div class="panel-body">
      <form class="row">
        <div class="input-box col-sm-12">
          <label for="username">
            <input id="username" placeholder="Nom d'utilisateur" type="text">
          </label>
        </div>
        <div class="input-box col-sm-12">
          <label for="password">
            <input id="password" placeholder="Mot de passe" type="password">
          </label>
        </div>
        <div class="input-box col-sm-12 center">
          <a class="btn-polyquizz" routerLink="/admin-quizzes" type="submit" value="Se connecter">Se connecter</a>
        </div>
      </form>
    </div>
  </div>
  <div class="center my-4">
    <a class="btn-polyquizz" routerLink="/">Retourner à l'accueil</a>
  </div>
</div>
