<div class="container my-4">
  <app-admin-navigation></app-admin-navigation>

  <div class="panel my-2">
    <div class="panel-head">
      <h1>Nouveau quiz</h1>
    </div>

    <div class="panel-body">
      <div class="input-box col-sm-12">
        <label for="name">
          <input id="name" placeholder="Nom du quiz" type="text">
        </label>
      </div>
      <hr>
      <div class="question" data-id="1">
        <div class="center">
          <h2 class="question">Question #1 <a class="btn-polyquizz red lp small error">Supprimer la question</a></h2>
        </div>
        <div class="input-group col-sm-12">
          <label for="question-1-text">
            <input id="question-1-text" placeholder="Question" type="text">
          </label>
          <label for="question-1-image">
            <input id="question-1-image" placeholder="Image de la question" type="text">
          </label>
          <label for="question-1-video">
            <input id="question-1-video" placeholder="Vidéo de la question" type="text">
          </label>
        </div>
        <div class="answer col-sm-12" data-id="1" data-question="1">
          <div class="row" style="align-items: center">
            <div class="col-sm-9" style="padding: 0">
              <div class="row">
                <div class="input-group col-sm-12 center">
                  <label for="answer-1-text">
                    <input id="answer-1-text" placeholder="Question" type="text">
                  </label>
                  <label for="answer-1-text">
                    <input id="answer-1-image" placeholder="Image de la réponse" type="text">
                  </label>
                  <div class="flex jc">
                    <input id="answer-1-correct" type="checkbox">
                    <label for="answer-1-correct">Bonne réponse</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3 center">
              <a class="btn-polyquizz red lp small error">Supprimer la réponse</a>
            </div>
          </div>
        </div>
        <div class="center">
          <a class="btn-polyquizz lp small" href="" style="margin-top: 0.5rem; display: inline-block">Ajouter une
            réponse</a>
        </div>
      </div>
      <div class="center">
        <a class="btn-polyquizz lp" href="" style="margin-top: 0.5rem; display: inline-block">Ajouter une question</a>
      </div>

    </div>
    <div class="panel-footer">
      <div class="row">
        <a class="btn-polyquizz red lp col col-gutter center" routerLink="/admin-quizzes">Annuler</a>
        <a class="btn-polyquizz lp col col-gutter center" routerLink="/admin-quizzes">Enregistrer</a>
      </div>
    </div>
  </div>
</div>
